* {
  box-sizing: border-box;
}

body {
  font-family: "calibri";
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
}

.container {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    align-self: flex-start;
    width: 100%;
  }

  #pages {
    width: 30%;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding-right: 5px;
      font-size: 18px;
    }

    span:hover {
      background-color: black;
      color: white;
      font-weight: bold;
    }
  }
}
