*{
  box-sizing: border-box;
}
body {
  font-family: "calibri";
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color:black;
}
.container{
  width: 500px;
  height: 1100px;
  margin: 0 auto;
}
