.container_page{
  width: 900px;
  height: 100vh;
  // border: 1px solid red;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  section{
    width: 100%;
    height: 80%;
    // border:1px solid blue;
    .boxes{
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .box{
        width: 33%;
        height: 100%;
        border:1px solid turquoise;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-right: 10px;
        .data{
          width: 90%;
          height: 60%;
          background-color: white;
          border-radius: 5px;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          align-items: center;
          table{
            width: 95%;
            tr{
              width: 100%;
              height: 50px;
              text-align: left;
              }
            }//ending table
        }//ending .data
      }//ending .box
      .box:last-child{
        margin-right: 0;
      }
      .box:hover{
        border:3px solid turquoise;
      }
    }//ending .boxes
  }//ending section
}//ending .container_page
