.image_1{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 0 -10px;
}
.image_2{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 550px -10px;
}
.image_3{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 450px -10px;
}
.image_4{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 340px -10px;
}
.image_5{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 252px -20px;
}
.image_6{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 182px -10px;
}
.image_7{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 98px -10px;
}
.image_8{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 10px -110px;
}
.image_9{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 560px -105px;
}
.image_10{
  width: 90px;
  height: 90px;
  background: url("../images/pok_1.png") 450px -110px;
}
