
  table{
    border-collapse: collapse;
    width: 100%;
    background-color:white;
    border-radius: 10px;
    text-align: center;
      th{
        height: 60px;
        padding: 0;
        color:turquoise;
      }
      th:first-child, td:first-child{
        width: 100px;
      }
      tr:hover{
        background-color: #e9e9e9;
      }

      td{
        border-top: 1px solid #e9e9e9;
        padding: 0;

        div{
          text-align: center;
        }
        div:hover{
        -webkit-animation:rotate 4s;
        -moz-animation:rotate 4s;
        animation:rotate 4s;
        }

      }//ending td,th
  }//ending table

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
